@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/****************** 
CSS Variables
*******************/
:root {
    /* Colors */
    /* Primary */
    --Red: hsl(0, 100%, 74%); 
    --Green: hsl(154, 59%, 51%);
    
    /* Accent */
    --Blue: hsl(248, 32%, 49%);
    
    /* Neutral */
    --Dark-Blue: #c3c1ce; 
    --Grayish-Blue: #dedede;
    
    /* Typography */
    --Poppins: 'Poppins', sans-serif;
}




/*********** 
Reset
************/
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: var(--Poppins);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}



/***************** 
    Main styling
******************/

body {
    background: url(../images/bg-intro-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--Red);
    min-height: 100vh;
    width: 100vw;
    padding: 2.4rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}


@media screen and (min-width: 768px) {
    body {
        background: url(../images/bg-intro-desktop.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-color: var(--Red);
        padding: 0;
    }
}




/********** 
    Grid
************/
.grid {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1.9fr;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

@media screen and (min-width:768px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        max-height: 600px;
    }
}




/*************** 
    Block Left
****************/

.block__left {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.block__left-content {
    height: 100%;
    width: 100%;
    max-width: 500px;
}

.block__heading {
    font-size: 2.4rem;
    font-size: clamp(2.4rem, 1.8987951807228916rem + 2.5060240963855422vw, 5rem);
    color: #fff;
    position: relative;
    margin: 7rem 0 2.5rem 0;
}

.block__text {
    color: #fff;
    font-size: 1.6rem;
    line-height: 1.6;
}

@media screen and (min-width: 768px) {
    .block__left {
        justify-content: center;
        align-items: flex-end;
    }

    .block__left-content {
        text-align: left;
        height: 75%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        padding: 0 2rem;
        position: relative;
        top: 5px;
        max-width: 550px;
    }

    .block__heading {
        margin: 0 0 2.5rem 0;
    }
}




/**************
    Block right
***************/

.block__right {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;

}

.block__right-content {
    width: 100%;
    height: 100%;
    max-width: 500px;
}

    /************ 
    Block Card 
    *************/
    .block__card {
        align-items: center;
        background-color: var(--Blue);
        border-radius: 10px;
        box-shadow: 0 8px 0 0px rgba(17, 17, 17, 0.192);
        color: #fff;
        display: flex;
        font-size: 1.5rem;
        height: 8.5rem;
        justify-content: center;
        line-height: 1.8;
        padding: 0 2rem;
        margin-bottom: 2.5rem;
        text-align: center;
        width: 100%;
        min-height: 6rem;
    }

    .block__card-text {
        max-width: 75%;
        line-height: 1.7;
}




    /***************
     Block Card Form 
     ***************/
    .block__card-form {
        height: 100%;
        max-height: 445px;
        width: 100%;
        background-color: #fff;
        padding: 2.5rem;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        box-shadow: 0 8px 0 0px rgba(17, 17, 17, 0.192);
        margin: 0 0 2rem 0;
    }

    .block__card-form .input-group {
        border: 1px solid var(--Grayish-Blue);
        display: flex;
        border-radius: 5px;
        padding: 0.4rem;
        margin-bottom: 2px;
        transition: 0.4s ease;
    }

    .block__card-form .input-group:hover {
        border: 1px solid #111;
    }

    .block__card-form input {
        width: 100%;
        font-size: 1.4rem;
        font-weight: 600;
        border: none;
        flex-grow: 1;
        padding: 1.1rem;
        outline: none;
    }

    .block__card-form label {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        right: 1rem;
        display: none;
    }




    /****************
     Error Messages 
     ****************/
    .F-name-error-message {
        margin-bottom: 0.4rem;
        font-style: italic;
        font-size: 1rem;
        visibility: hidden;
        color: var(--Red);
    }
    .L-name-error-message {
        margin-bottom: 0.4rem;
        font-style: italic;
        font-size: 1rem;
        visibility: hidden;
        color: var(--Red);
    }
    .Email-error-message {
        margin-bottom: 0.4rem;
        font-style: italic;
        font-size: 1rem;
        visibility: hidden;
        color: var(--Red);
    }
    .Password-error-message {
        margin-bottom: 0.4rem;
        font-style: italic;
        font-size: 1rem;
        visibility: hidden;
        color: var(--Red);
    }




    .block__card-form button {
        background-color: var(--Green);
        border: none;
        padding: 2rem 3rem 1.4rem 3rem;
        border-radius: 5px;
        text-transform: uppercase;
        font-size: 1.6rem;
        font-weight: 600;
        color: #fff;
        box-shadow: 0 4px 0 0px #32b981;
        margin-bottom: 1.5rem;
        cursor: pointer;
    }

    .block__card-form button:active {
        background-color: #77e2b4;
        box-shadow: 0 4px 0 0px #77e2b4;
    }

    .block__card-form .terms {
        color: var(--Dark-Blue);
        font-size: 1.1rem;
        text-align: center;
        padding: 0 2rem;
        line-height: 2;
    }

    .block__card-form .terms a {
        text-decoration: none;
        color: var(--Red);
        font-weight: 600;
    }

@media screen and (min-width: 768px) {
    .block__right {
        align-items: center;
        justify-content: start;
    }

    .block__right-content {
        height: 75%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 550px;
        padding: 0 2rem;
    }

    .block__card {
        height: 6rem;
    }

    .block__card-form {
        max-height: 475px;
        padding: 4rem;
    }

    .F-name-error-message,
    .L-name-error-message,
    .Email-error-message,
    .Password-error-message {
        margin-bottom: 0.85rem;
        text-align: right;
        font-weight: 600;
}
}




/************** 
    Attribution
***************/
.attribution {
    position: absolute;
    font-size: 1.2rem;
    text-align: center;
    bottom: 0;
}
.attribution a {
    color: rgb(16, 72, 255);
}